[submodule "mpython-docs"]
	path = mpython-docs
	url = https://github.com/labplus-cn/mpython-docs.git
[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/labplus-cn/esp-idf.git
