# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
docs/_build/doctrees/library/esp.doctree
docs/_build/doctrees/environment.pickle
docs/_build/doctrees/index.doctree
docs/_build/doctrees/inc/introduction.doctree
docs/_build/doctrees/library/array.doctree
docs/_build/doctrees/library/btree.doctree
docs/_build/doctrees/library/builtins.doctree
docs/_build/doctrees/library/cmath.doctree
docs/_build/doctrees/library/framebuf.doctree
docs/_build/doctrees/library/gc.doctree
docs/_build/doctrees/library/index.doctree
docs/_build/doctrees/library/lcd160cr.doctree
docs/_build/doctrees/library/machine.doctree
docs/_build/doctrees/library/machine.ADC.doctree
docs/_build/doctrees/library/machine.I2C.doctree
docs/_build/doctrees/library/machine.Pin.doctree
docs/_build/doctrees/library/machine.RTC.doctree
docs/_build/doctrees/library/machine.SD.doctree
docs/_build/doctrees/library/machine.SPI.doctree
docs/_build/doctrees/library/machine.Signal.doctree
docs/_build/doctrees/library/machine.Timer.doctree
docs/_build/doctrees/library/machine.UART.doctree
docs/_build/doctrees/library/machine.WDT.doctree
docs/_build/doctrees/library/math.doctree
docs/_build/doctrees/library/micropython.doctree
docs/_build/doctrees/library/network.doctree
docs/_build/doctrees/library/pyb.doctree
docs/_build/doctrees/library/pyb.ADC.doctree
docs/_build/doctrees/library/pyb.Accel.doctree
docs/_build/doctrees/library/pyb.CAN.doctree
docs/_build/doctrees/library/pyb.DAC.doctree
docs/_build/doctrees/library/pyb.ExtInt.doctree
docs/_build/doctrees/library/pyb.I2C.doctree
docs/_build/doctrees/library/pyb.LCD.doctree
docs/_build/doctrees/library/pyb.LED.doctree
docs/_build/doctrees/library/pyb.Pin.doctree
docs/_build/doctrees/library/pyb.RTC.doctree
docs/_build/doctrees/library/pyb.SPI.doctree
docs/_build/doctrees/library/pyb.Servo.doctree
docs/_build/doctrees/library/pyb.Switch.doctree
docs/_build/doctrees/library/pyb.Timer.doctree
docs/_build/doctrees/library/pyb.UART.doctree
docs/_build/doctrees/library/pyb.USB_HID.doctree
docs/_build/doctrees/library/pyb.USB_VCP.doctree
docs/_build/doctrees/library/sys.doctree
docs/_build/doctrees/library/ubinascii.doctree
docs/_build/doctrees/library/ucollections.doctree
docs/_build/doctrees/library/uctypes.doctree
docs/_build/doctrees/library/uerrno.doctree
docs/_build/doctrees/library/uhashlib.doctree
docs/_build/doctrees/library/uheapq.doctree
docs/_build/doctrees/library/uio.doctree
docs/_build/doctrees/library/ujson.doctree
docs/_build/doctrees/library/uos.doctree
docs/_build/doctrees/library/ure.doctree
docs/_build/doctrees/library/uselect.doctree
docs/_build/doctrees/library/usocket.doctree
docs/_build/doctrees/library/ussl.doctree
docs/_build/doctrees/library/ustruct.doctree
docs/_build/doctrees/library/utime.doctree
docs/_build/doctrees/library/uzlib.doctree
docs/_build/doctrees/library/wipy.doctree
docs/_build/doctrees/reference/asm_thumb2_arith.doctree
docs/_build/doctrees/reference/asm_thumb2_compare.doctree
docs/_build/doctrees/reference/asm_thumb2_directives.doctree
docs/_build/doctrees/reference/asm_thumb2_float.doctree
docs/_build/doctrees/reference/asm_thumb2_hints_tips.doctree
docs/_build/doctrees/reference/asm_thumb2_index.doctree
docs/_build/doctrees/reference/asm_thumb2_label_branch.doctree
docs/_build/doctrees/reference/asm_thumb2_ldr.doctree
docs/_build/doctrees/reference/asm_thumb2_logical_bit.doctree
docs/_build/doctrees/reference/asm_thumb2_misc.doctree
docs/_build/doctrees/reference/asm_thumb2_mov.doctree
docs/_build/doctrees/reference/asm_thumb2_stack.doctree
docs/_build/doctrees/reference/asm_thumb2_str.doctree
docs/_build/doctrees/reference/constrained.doctree
docs/_build/doctrees/reference/glossary.doctree
docs/_build/doctrees/reference/index.doctree
docs/_build/doctrees/reference/isr_rules.doctree
docs/_build/doctrees/reference/packages.doctree
docs/_build/doctrees/reference/repl.doctree
docs/_build/doctrees/reference/speed_python.doctree
docs/_build/doctrees/tutorials/class1.doctree
docs/_build/doctrees/tutorials/class2.doctree
docs/_build/doctrees/tutorials/class3.doctree
docs/_build/doctrees/tutorials/class4.doctree
docs/_build/html/.buildinfo
docs/_build/html/genindex.html
docs/_build/html/index.html
docs/_build/html/objects.inv
docs/_build/html/py-modindex.html
docs/_build/html/search.html
docs/_build/html/searchindex.js
docs/_build/html/_images/handPy.gif
docs/_build/html/_sources/index.rst.txt
docs/_build/html/_sources/inc/introduction.rst.txt
docs/_build/html/_sources/library/array.rst.txt
docs/_build/html/_sources/library/btree.rst.txt
docs/_build/html/_sources/library/builtins.rst.txt
docs/_build/html/_sources/library/cmath.rst.txt
docs/_build/html/_sources/library/esp.rst.txt
docs/_build/html/_sources/library/framebuf.rst.txt
docs/_build/html/_sources/library/gc.rst.txt
docs/_build/html/_sources/library/index.rst.txt
docs/_build/html/_sources/library/lcd160cr.rst.txt
docs/_build/html/_sources/library/machine.ADC.rst.txt
docs/_build/html/_sources/library/machine.I2C.rst.txt
docs/_build/html/_sources/library/machine.Pin.rst.txt
docs/_build/html/_sources/library/machine.RTC.rst.txt
docs/_build/html/_sources/library/machine.SD.rst.txt
docs/_build/html/_sources/library/machine.SPI.rst.txt
docs/_build/html/_sources/library/machine.Signal.rst.txt
docs/_build/html/_sources/library/machine.Timer.rst.txt
docs/_build/html/_sources/library/machine.UART.rst.txt
docs/_build/html/_sources/library/machine.WDT.rst.txt
docs/_build/html/_sources/library/machine.rst.txt
docs/_build/html/_sources/library/math.rst.txt
docs/_build/html/_sources/library/micropython.rst.txt
docs/_build/html/_sources/library/network.rst.txt
docs/_build/html/_sources/library/pyb.ADC.rst.txt
docs/_build/html/_sources/library/pyb.Accel.rst.txt
docs/_build/html/_sources/library/pyb.CAN.rst.txt
docs/_build/html/_sources/library/pyb.DAC.rst.txt
docs/_build/html/_sources/library/pyb.ExtInt.rst.txt
docs/_build/html/_sources/library/pyb.I2C.rst.txt
docs/_build/html/_sources/library/pyb.LCD.rst.txt
docs/_build/html/_sources/library/pyb.LED.rst.txt
docs/_build/html/_sources/library/pyb.Pin.rst.txt
docs/_build/html/_sources/library/pyb.RTC.rst.txt
docs/_build/html/_sources/library/pyb.SPI.rst.txt
docs/_build/html/_sources/library/pyb.Servo.rst.txt
docs/_build/html/_sources/library/pyb.Switch.rst.txt
docs/_build/html/_sources/library/pyb.Timer.rst.txt
docs/_build/html/_sources/library/pyb.UART.rst.txt
docs/_build/html/_sources/library/pyb.USB_HID.rst.txt
docs/_build/html/_sources/library/pyb.USB_VCP.rst.txt
docs/_build/html/_sources/library/pyb.rst.txt
docs/_build/html/_sources/library/sys.rst.txt
docs/_build/html/_sources/library/ubinascii.rst.txt
docs/_build/html/_sources/library/ucollections.rst.txt
docs/_build/html/_sources/library/uctypes.rst.txt
docs/_build/html/_sources/library/uerrno.rst.txt
docs/_build/html/_sources/library/uhashlib.rst.txt
docs/_build/html/_sources/library/uheapq.rst.txt
docs/_build/html/_sources/library/uio.rst.txt
docs/_build/html/_sources/library/ujson.rst.txt
docs/_build/html/_sources/library/uos.rst.txt
docs/_build/html/_sources/library/ure.rst.txt
docs/_build/html/_sources/library/uselect.rst.txt
docs/_build/html/_sources/library/usocket.rst.txt
docs/_build/html/_sources/library/ussl.rst.txt
docs/_build/html/_sources/library/ustruct.rst.txt
docs/_build/html/_sources/library/utime.rst.txt
docs/_build/html/_sources/library/uzlib.rst.txt
docs/_build/html/_sources/library/wipy.rst.txt
docs/_build/html/_sources/reference/asm_thumb2_arith.rst.txt
docs/_build/html/_sources/reference/asm_thumb2_compare.rst.txt
docs/_build/html/_sources/reference/asm_thumb2_directives.rst.txt
docs/_build/html/_sources/reference/asm_thumb2_float.rst.txt
docs/_build/html/_sources/reference/asm_thumb2_hints_tips.rst.txt
docs/_build/html/_sources/reference/asm_thumb2_index.rst.txt
docs/_build/html/_sources/reference/asm_thumb2_label_branch.rst.txt
docs/_build/html/_sources/reference/asm_thumb2_ldr.rst.txt
docs/_build/html/_sources/reference/asm_thumb2_logical_bit.rst.txt
docs/_build/html/_sources/reference/asm_thumb2_misc.rst.txt
docs/_build/html/_sources/reference/asm_thumb2_mov.rst.txt
docs/_build/html/_sources/reference/asm_thumb2_stack.rst.txt
docs/_build/html/_sources/reference/asm_thumb2_str.rst.txt
docs/_build/html/_sources/reference/constrained.rst.txt
docs/_build/html/_sources/reference/glossary.rst.txt
docs/_build/html/_sources/reference/index.rst.txt
docs/_build/html/_sources/reference/isr_rules.rst.txt
docs/_build/html/_sources/reference/packages.rst.txt
docs/_build/html/_sources/reference/repl.rst.txt
docs/_build/html/_sources/reference/speed_python.rst.txt
docs/_build/html/_sources/tutorials/class1.rst.txt
docs/_build/html/_sources/tutorials/class2.rst.txt
docs/_build/html/_sources/tutorials/class3.rst.txt
docs/_build/html/_sources/tutorials/class4.rst.txt
docs/_build/html/_static/ajax-loader.gif
docs/_build/html/_static/basic.css
docs/_build/html/_static/comment.png
docs/_build/html/_static/comment-bright.png
docs/_build/html/_static/comment-close.png
docs/_build/html/_static/doctools.js
docs/_build/html/_static/documentation_options.js
docs/_build/html/_static/down.png
docs/_build/html/_static/down-pressed.png
docs/_build/html/_static/file.png
docs/_build/html/_static/jquery.js
docs/_build/html/_static/jquery-3.2.1.js
docs/_build/html/_static/logo.png
docs/_build/html/_static/minus.png
docs/_build/html/_static/plus.png
docs/_build/html/_static/pygments.css
docs/_build/html/_static/searchtools.js
docs/_build/html/_static/translations.js
docs/_build/html/_static/underscore.js
docs/_build/html/_static/underscore-1.3.1.js
docs/_build/html/_static/up.png
docs/_build/html/_static/up-pressed.png
docs/_build/html/_static/websupport.js
docs/_build/html/_static/css/badge_only.css
docs/_build/html/_static/css/theme.css
docs/_build/html/_static/fonts/fontawesome-webfont.eot
docs/_build/html/_static/fonts/fontawesome-webfont.svg
docs/_build/html/_static/fonts/fontawesome-webfont.ttf
docs/_build/html/_static/fonts/fontawesome-webfont.woff
docs/_build/html/_static/fonts/fontawesome-webfont.woff2
docs/_build/html/_static/fonts/Lato/lato-bold.eot
docs/_build/html/_static/fonts/Lato/lato-bold.ttf
docs/_build/html/_static/fonts/Lato/lato-bold.woff
docs/_build/html/_static/fonts/Lato/lato-bold.woff2
docs/_build/html/_static/fonts/Lato/lato-bolditalic.eot
docs/_build/html/_static/fonts/Lato/lato-bolditalic.ttf
docs/_build/html/_static/fonts/Lato/lato-bolditalic.woff
docs/_build/html/_static/fonts/Lato/lato-bolditalic.woff2
docs/_build/html/_static/fonts/Lato/lato-italic.eot
docs/_build/html/_static/fonts/Lato/lato-italic.ttf
docs/_build/html/_static/fonts/Lato/lato-italic.woff
docs/_build/html/_static/fonts/Lato/lato-italic.woff2
docs/_build/html/_static/fonts/Lato/lato-regular.eot
docs/_build/html/_static/fonts/Lato/lato-regular.ttf
docs/_build/html/_static/fonts/Lato/lato-regular.woff
docs/_build/html/_static/fonts/Lato/lato-regular.woff2
docs/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.eot
docs/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.ttf
docs/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.woff
docs/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-bold.woff2
docs/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.eot
docs/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.ttf
docs/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.woff
docs/_build/html/_static/fonts/RobotoSlab/roboto-slab-v7-regular.woff2
docs/_build/html/_static/js/modernizr.min.js
docs/_build/html/_static/js/theme.js
docs/_build/html/inc/introduction.html
docs/_build/html/library/array.html
docs/_build/html/library/btree.html
docs/_build/html/library/builtins.html
docs/_build/html/library/cmath.html
docs/_build/html/library/esp.html
docs/_build/html/library/framebuf.html
docs/_build/html/library/gc.html
docs/_build/html/library/index.html
docs/_build/html/library/lcd160cr.html
docs/_build/html/library/machine.html
docs/_build/html/library/machine.ADC.html
docs/_build/html/library/machine.I2C.html
docs/_build/html/library/machine.Pin.html
docs/_build/html/library/machine.RTC.html
docs/_build/html/library/machine.SD.html
docs/_build/html/library/machine.SPI.html
docs/_build/html/library/machine.Signal.html
docs/_build/html/library/machine.Timer.html
docs/_build/html/library/machine.UART.html
docs/_build/html/library/machine.WDT.html
docs/_build/html/library/math.html
docs/_build/html/library/micropython.html
docs/_build/html/library/network.html
docs/_build/html/library/pyb.html
docs/_build/html/library/pyb.ADC.html
docs/_build/html/library/pyb.Accel.html
docs/_build/html/library/pyb.CAN.html
docs/_build/html/library/pyb.DAC.html
docs/_build/html/library/pyb.ExtInt.html
docs/_build/html/library/pyb.I2C.html
docs/_build/html/library/pyb.LCD.html
docs/_build/html/library/pyb.LED.html
docs/_build/html/library/pyb.Pin.html
docs/_build/html/library/pyb.RTC.html
docs/_build/html/library/pyb.SPI.html
docs/_build/html/library/pyb.Servo.html
docs/_build/html/library/pyb.Switch.html
docs/_build/html/library/pyb.Timer.html
docs/_build/html/library/pyb.UART.html
docs/_build/html/library/pyb.USB_HID.html
docs/_build/html/library/pyb.USB_VCP.html
docs/_build/html/library/sys.html
docs/_build/html/library/ubinascii.html
docs/_build/html/library/ucollections.html
docs/_build/html/library/uctypes.html
docs/_build/html/library/uerrno.html
docs/_build/html/library/uhashlib.html
docs/_build/html/library/uheapq.html
docs/_build/html/library/uio.html
docs/_build/html/library/ujson.html
docs/_build/html/library/uos.html
docs/_build/html/library/ure.html
docs/_build/html/library/uselect.html
docs/_build/html/library/usocket.html

docs/_build/html/library/ussl.html
docs/_build/html/library/ustruct.html
docs/_build/html/library/utime.html
docs/_build/html/library/uzlib.html
docs/_build/html/library/wipy.html
docs/_build/html/reference/asm_thumb2_arith.html
docs/_build/html/reference/asm_thumb2_compare.html
docs/_build/html/reference/asm_thumb2_directives.html
docs/_build/html/reference/asm_thumb2_float.html
docs/_build/html/reference/asm_thumb2_hints_tips.html
docs/_build/html/reference/asm_thumb2_index.html
docs/_build/html/reference/asm_thumb2_label_branch.html
docs/_build/html/reference/asm_thumb2_ldr.html
docs/_build/html/reference/asm_thumb2_logical_bit.html
docs/_build/html/reference/asm_thumb2_misc.html
docs/_build/html/reference/asm_thumb2_mov.html
docs/_build/html/reference/asm_thumb2_stack.html
docs/_build/html/reference/asm_thumb2_str.html
docs/_build/html/reference/constrained.html
docs/_build/html/reference/glossary.html
docs/_build/html/reference/index.html
docs/_build/html/reference/isr_rules.html
docs/_build/html/reference/packages.html
docs/_build/html/reference/repl.html
docs/_build/html/reference/speed_python.html
docs/_build/html/tutorials/class1.html
docs/_build/html/tutorials/class2.html
docs/_build/html/tutorials/class3.html
docs/_build/html/tutorials/class4.html



.gitignore
